
label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.select-content {
    margin-bottom: 1rem;
    margin-top: 0.7rem;
}

.button-75 {
  align-items: center;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 0.72rem;
  font-weight: 700;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  max-width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.create-btn {
    background-image: linear-gradient(135deg, #943c22 40%, #e01f2d);
}

.cancel-btn {
    background-image: linear-gradient(135deg, #5fc52e 40%, #6eee87);
}

.form-btns {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
   
}