@if (selectedEvent) {
  <div class="event-details">
    <h3><b>{{ selectedEvent.title }}</b></h3>
    <p><b>Platforms:</b> {{ selectedEvent.type }}</p>
    @if (selectedEvent.date) {
      <div>
        <div>
          <b>Date:</b> {{ selectedEvent.date | date:'mediumDate' }}
          @if ((selectedEvent.date | date:'HH:mm') !== '00:00') {
            <span>
              - {{ selectedEvent.date | date:'HH:mm' }}
            </span>
          }
        </div>
      </div>
    }
    @if (selectedEvent.place) {
      <div>
        <b>Place:</b> {{selectedEvent.place}}
      </div>
    }
    <div><b>Description:</b></div>
    <div>{{selectedEvent.description}}</div>
    @if (selectedEvent.link) {
      <div>
        <b>Link:</b> <a [href]="selectedEvent.link" target="_blank" rel="noopener noreferrer">{{ selectedEvent.link }}</a>
      </div>
    }
    @if (selectedEvent.photo) {
      <div>
        <div><b>Photo:</b></div>
        <img [src]="selectedEvent.photo" alt="Event Photo" class="event-photo"/>
      </div>
    }
    @if (selectedEvent.graphics && selectedEvent.graphics.length > 0) {
      <div>
        <div><b>Graphics:</b></div>
        <ul>
          @for (graphic of selectedEvent.graphics; track graphic) {
            <li>{{ graphic }}</li>
          }
        </ul>
      </div>
    }
    @if (selectedEvent.text && selectedEvent.text.length > 0) {
      <div>
        <div><b>Text:</b></div>
        <ul>
          @for (textItem of selectedEvent.text; track textItem) {
            <li>{{ textItem }}</li>
          }
        </ul>
      </div>
    }
    <div class="signUpBlock">
      <div>
        <label>
          <input type="checkbox" [(ngModel)]="selectedEvent.signUpGraphics" />
          Sign up for Graphics
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" [(ngModel)]="selectedEvent.signUpText" />
          Sign up for Text
        </label>
      </div>
    </div>
    <div class="action-buttons">
      <button class="ready-btn button-75" (click)="onPosted()">{{ selectedEvent?.posted ? 'Undo' : 'Posted' }}</button>
      <button class="edit-btn button-75" (click)="onEdit()">Edit</button>
      <button class="delete-btn button-75" (click)="onDelete()">Delete</button>
    </div>
    <!-- Later you can add editing, date, etc. -->
  </div>
} @else {
  <p>Select an event to see details</p>
}

