.login-form {
max-width: 300px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
}

.login-form-margin {
margin-bottom: 16px;
}

.login-form-forgot {
float: right;
}

.login-form-button {
width: 100%;
}

.small-title {
text-align: center;
margin: 0.1rem 0 1rem 0;
font-size: 1.5rem;
font-weight: 400;
}

.big-title {
text-align: center;
margin: 0 0 0 0;
font-size: 1.7rem;
font-weight: 600;
}
