:host {
  display: flex;
}

.app-layout {
  height:auto;
}



.logo {
  float: left;
  height: 64px;
  padding-right: 24px;
  line-height: 64px;
  background: #001529;
}

.logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-content {
  padding: 1rem 2rem;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #001529;
  padding: 0 24px;
  height: 64px;
}

.top-nav {
  display: flex;
  gap: 24px;
  background: transparent;
  flex-wrap: wrap; 
  justify-content: flex-end;
}

nz-menu-item {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
  color: #fff;
}

/* RESPONSIVE STUFF */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

.calendar-comp {
  max-width: 70%;
}

.main-comps {
  display: flex;
}

.tasks-card {
  margin: 2rem;
  background-color: white;
  padding: 1.5rem;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}