<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <a>
        <h1>CONTENT CALENDAR</h1>
      </a>
    </div>
    <!-- Desktop menu -->
    <ul nz-menu class="top-nav desktop-menu" nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>Tasks</li>
      <li nz-menu-item>Done</li>
      <li nz-menu-item>New</li>
      <li nz-menu-item>Profile</li>
    </ul>

    <!-- Mobile menu -->
    <div class="mobile-menu" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      <span nz-icon [nzType]="'menu'" nzTheme="outline" nzColor="#fff" class="menu-icon"></span>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzTheme="dark">
        <li nz-menu-item>Tasks</li>
        <li nz-menu-item>Done</li>
        <li nz-menu-item>New</li>
        <li nz-menu-item>Profile</li>
      </ul>
    </nz-dropdown-menu>

  </nz-header>
  <nz-content>
<nz-calendar [nzDateCell]="dateCellTemplate" ></nz-calendar>


<ng-template #dateCellTemplate let-date>
  <div *ngIf="events.get(date.toISOString().split('T')[0]) as dayEvents">
    <div *ngFor="let event of dayEvents" class="event">{{ event }}</div>
  </div>
</ng-template>


  </nz-content>
</nz-layout>
