<nz-calendar [nzDateCell]="dateCellTemplate"></nz-calendar>
<ng-template #dateCellTemplate let-date>
  <div class="date-cell">


    @if (events.get(date.toISOString().split('T')[0]); as dayEvents) {
      <div
        class="events">
        @for (e of dayEvents; track e) {
          <div
            class="event"
            [class.posted]="e.posted"
            [ngClass]="e.type"
            (click)="selectEvent(e)">
            @if (e.type === 'facebook') {
              <i nz-icon nzType="facebook" nzTheme="fill"></i>
            }
            @if (e.type === 'instagram') {
              <i nz-icon nzType="instagram" nzTheme="outline"></i>
            }
            @if (e.type === 'meeting') {
              <i nz-icon nzType="calendar" nzTheme="outline"></i>
            }
            {{ e.title }}
          </div>
        }
      </div>
    }
  </div>
</ng-template>